* {
    background-color: #10002b;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

nav .logo h1 {
    font-family: "Dancing Script", cursive;
    color: #e0aaff;
    margin-top: 0.7rem;
}

nav,
.nav-menu a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #e0aaff;
    font-size: 1.5rem;
    margin-top: 0.7rem;
}

.nav-menu a {
    text-decoration: none;
    padding-left: 3rem;
    opacity: 0.6;
}

.nav-menu a:hover,
.nav-menu a.active {
    opacity: 1;
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-thickness: 1.7px;
}

.nav-menu ul {
    display: flex;
}

.menu-btn i {
    cursor: pointer;
    display: none;

}

#click {
    display: none;
}


@media (max-width : 875px) {
    .menu-btn i {
        display: block;
    }

    .nav-menu ul {
        position: fixed;
        top: 5rem;
        left: -100%;
        height: 100%;
        width: 100%;
        display: block;
        transition: all 1.5s ease;

    }

    #click:checked~.nav-menu ul {
        left: 0%;
        display: inline;

    }
}

.home {
    padding: 4rem;
    display: flex;
}

.about,
.skills,
.projects,
.contact {
    padding: 0.5rem 4rem;
    display: flex;
}

.home-1 {
    justify-content: center;
    width: 100%;
    word-spacing: 0.3rem;
    /* padding-right: 6rem; */
}

.home-1 h1 {
    line-height: 3.5rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.home-1 button,
.all-contact-input button {
    background-color: #cd85f7;
    color: white;
    border-radius: 0px 20px 0px 20px;
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
    margin-right: 1rem;


}

.home-1 button:hover,
.home-links a i:hover {
    background-color: white;
    color: #cd85f7;
    transition: 1s ease-in-out;
    transform: scale(1.1);
}

span {
    color: #e0aaff;
}

.home-links a i {
    font-size: 2.5rem;
    margin: 28px 16px;
    border-radius: 25%;
    padding: 5px;
    box-shadow: 0 0 8px white;
    background-color: #cd85f7;
    color: white;
}

@media (max-width :430px) {
    .home {
        flex-wrap: wrap;
    }

    img {
        width: 100%;
    }

    .skills div a {
        width: 100%;
    }

    .project-card {
        width: 100%;
    }

}

.about div .heading,
.skills div .heading,
.projects div .heading,
.contact div .heading {
    font-size: 2rem;
    color: white;
}


.about p {
    padding: 1.5rem 0;
    font-size: 1.2rem;
}

.skills div a i {
    padding: 3.5rem;
    border-radius: 15px;
    background-color: #19033e;
    font-size: 4rem;
    color: white;
    margin: 2rem;
    box-shadow: 0 0 20px #31067a;
}

.skills div a i:hover {
    transform: scale(1.2);
    transition: 1s ease-in-out;
    background-color: #cd85f7;
    box-shadow: 0 0 15px white;
}


.all-project-div {
    display: flex;
    flex-wrap: wrap;


}

.project-card {
    border: 2px solid white;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 2rem 1.5rem;
}

.project-card-img {
    object-fit: cover;
    border-radius: 15px;
}

.project-card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    border-radius: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(20px);
    background-color: #170150;
    justify-content: center;
    align-items: center;
}

.project-card-title,
.project-card-info {
    background: transparent;
    padding: 15px;
}

.project-card-body a {
    text-decoration: none;
    padding: 5px;
    color: #dba8f9;
    width: 5rem;
    border-radius: 3px 10px 3px 10px;
    margin-left: 10px;
    font-size: 18px;
    background: transparent;
    box-shadow: 0 0 6px white;
}

.project-card:hover .project-card-body {
    right: 0;
    transition: all 1.5s;
}

.project-card:hover .project-card-img {
    transform: scale(1.1);
    transition: all 1.5s;

}

.project-card:hover {
    box-shadow: 0 0 20px white;
    transition: all 1s;
}

.all-contact-input {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-input {
    background-color: #170150;
    color: white;
    font-size: 20px;
    padding: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px;
    width: 100%;
}

::placeholder {
    color: white;
}